.Wrapper {
  display: flex;
  gap: 8rem;
}

.ChooseLength {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ChooseLengthName {
  font-size: 30px;
}

.ChooseLengthContent {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 40px;
}

.Icons {
  display: flex;
  flex-direction: column;
}
.Icon:hover {
  cursor: pointer;
  color: #bcbcbc;
}

@media screen and (max-width: 725px) {
  .Wrapper {
    gap: 4rem;
  }
  .ChooseLengthName {
    font-size: 20px;
  }
  .ChooseLengthContent {
    font-size: 30px;
  }
}

@media screen and (max-width: 505px) {
  .Wrapper {
    gap: 2rem;
  }
  .ChooseLengthName {
    font-size: 15px;
  }
  .ChooseLengthContent {
    font-size: 20px;
  }
}
