.Wrapper {
  display: flex;
  gap: 8rem;
}

.ChooseLength {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ChooseLengthName {
  font-size: 30px;
}

.ChooseLengthContent {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 40px;
}

.Icons {
  display: flex;
  flex-direction: column;
}
.Icon:hover {
  cursor: pointer;
}
